<!DOCTYPE html>
<html>
<% if !@answer.nil? && !@answer.id.nil? %>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# com_mynameistodd_wc: http://ogp.me/ns/fb/com_mynameistodd_wc#">
<% else %>
    <head>
<% end %>
<title>WhoCalled</title>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<% if !@answer.nil? && !@answer.id.nil? %>
    <meta property="fb:app_id" content="206261666149850"/>
    <meta property="og:type" content="com_mynameistodd_wc:answer"/>
    <meta property="og:url" content="<%= answer_url @answer %>"/>
    <meta property="og:image" content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png"/>
    <meta property="og:title" content="<%= @answer.title %>"/>
<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
